body {
    background-color: grey;
}

.book {
    width: auto;
    height: auto;
    background-color: aqua;
}
/* 
.modal {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid red;
    width: 80%; /* Could be more or less, depending on screen size */
} */