@font-face {
    font-family: 'alex-brushregular';
    src: url('fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-div {
    display: flex;
    gap: 2rem;
}

.title {
    font-family: 'alex-brushregular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
}

.add-button {
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: cadetblue;
    color: aliceblue;
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-style: none;
}

.add-button:hover {
    background-color: rgb(33, 55, 56);
    width: 205px;
    font-size: 25px;
    border-style: none;
}

.add-button:active {
    background-color:rgb(13, 22, 22);
    width: 205px;
    font-size: 25px;
    border-style: none;
}

.add-button:focus {
    background-color:rgb(13, 22, 22);
    width: 205px;
    font-size: 25px;
    outline: none;
}

.master-container {
    width: 100vw;
    height: 100vh; 
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
}

main {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    background-image: url(pics/will-van-wingerden-dsvJgiBJTOs-unsplash\(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#library-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 32px;
    justify-items: center;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.95);
}

.book {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    background-color: rgba(245, 138, 66, 0.6);
    border-end-end-radius: 20px;
    border-top-right-radius: 20px;
}

.book-title {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}

.status {
    display: flex;
    gap: 8px;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-read-status {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    border-radius: 24px;
    border: none;
    outline: none;
    background-color: rgb(210, 105, 30);
    font-size: 16px;
    font-weight: 600;
    color: antiquewhite;
    padding: 24px;
    align-items: center;
}


.change-read-status:hover {
    background-color: rgba(210, 105, 30, 0.6);
}

.change-read-status:active {
    background-color: rgba(210, 105, 30, 0.3);
}

.change-read-status:focus {
    background-color: rgba(210, 105, 30, 0.3);
}

.read-status {
    font-size: 24px;
    font-weight: bolder;
    font-style: oblique;
}

.remove-button {
    margin-top: auto;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
    outline: none;
    border: none;
    height: 50px;
    background-color:rgba(245, 138, 66);
    color:antiquewhite;
    font-size: 24px;
    font-weight: bold;
}

.remove-button:hover {
    background-color: rgba(245, 138, 66, 0.6);
}

.remove-button:active {
    background-color: rgba(245, 138, 66, 0.3);
}

.remove-button:focus {
    background-color: rgba(245, 138, 66, 0.3);
}
footer {
    height: 45px;
/*     Photo by <a href="https://unsplash.com/@willvanw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Will van Wingerden</a> on <a href="https://unsplash.com/photos/photo-of-library-hall-dsvJgiBJTOs?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
 */}